/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    font-family:  ;
} */

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 1.8rem;
}

/* UTILITIES */

.flex{
    display: flex;
}

.m-auto{
    margin: auto;
}

.b-radius{
    border-radius: 30px;
}

.text-center{
    text-align: center;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.fs-3{
    font-size: 3rem;
}

.color-blue{
    color:rgb(0 132 253);
}

/* LAYOUT */

.w-80{
    width: 80%;
}

/* HEADER */

header{
    background-color: rgb(0 132 253);
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
}

.header-nav{
    display: none;
    padding: 30px;
}

.header-nav ul{
    display: flex;
    gap: 30px;
    color: white;
    align-items: center;
}

.header-nav ul li:last-child{
    color: black;
    background-color: white;
    padding: 8px 10px;
    border-radius: 25px;
}

.header-button{
    font-size: 2rem;
    background-color: transparent;
    border: 0;
}

@media screen and (min-width:992px) {

    .header-nav{
        display: block;
    }

    .header-button{
        display: none;
    }
}


/* MAIN */

/* DOWNLOAD SECTION */

.container-card-download{
    width: 80%;
    margin-top: 100px;
}

.card-download{
    background-color: rgb(181 221 255);
    margin-bottom: 50px;
}

.col-text-dwl{
    padding: 30px 30px;
}

.ios-dwl{
    background-color:rgb(0 132 253) ;
    padding: 15px 60px;
    border-radius: 40px;
}

.phone-img{
    display: block;
    max-width: 300px;
    /* margin-top: 100px; */
}

.card-app{
    background-color: rgb(181 221 255);
    height: 400px;
    margin-bottom: 50px;
}

.clear{
    
}


@media screen and (min-width:992px) {
    .container-card-download{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1000px;
    }

    .card-download{
        width: 63%;
        display: flex;
    }

    .phone-img{
        /* max-width: 300px; */
        margin-top: 50px;
    }

    .card-app{
        width: 30%;
    }
}

/* STRATEGIC PLAN SECTION */

.section-develop{
    background-color: rgb(151 146 228);
    height: 1400px;
}

.develop-app{
    background-color: white;
    height: 600px;
}

@media screen and (min-width:992px) {
    .card-develop{
        width: 70%;
        display: flex;
        align-items: center;
    }

    .strategic-plan{
        width: 40%;
    }

    .develop-app{
        width: 40%;
    }
}

/* SEZIONE TESTIMONIALS */

.cards-testimonial{
    height: 400px;
    border-radius: 30px;
    background-color: rgb(151 146 228);
    margin-bottom: 30px;
}

/* BENEFITS SECTION */

.benefits-section{
    background-color: rgb(151 146 228);
    height: 2000px;
    /* text-align: center; */
}

.b-card{
    background-color: white;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 100%;

}

@media screen and (min-width:768px) {
    .col{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .b-card{
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .b-card{
        width: calc(100%/3 - 10px);
    }
}


