/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: PT sans;
}

img{
    max-width: 100%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

p{
    line-height: 1.8rem;
}

/* UTILITIES */

.flex{
    display: flex;
}

.m-auto{
    margin: auto;
}

.b-radius{
    border-radius: 30px;
}

.text-center{
    text-align: center;
}

.p-30{
    padding: 30px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.fs-6{
    font-size: 6rem;
}

.color-blue{
    color:rgb(0 132 253);
}

.color-white{
    color:white
}

.color-violet{
    color: rgb(151 146 228);
}

/* LAYOUT */

.w-80{
    width: 90%;
}

/* HEADER */

header{
    background-color: rgb(0 132 253);
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
}

.header-nav{
    display: none;
    padding: 30px;
}

.header-nav ul{
    display: flex;
    gap: 30px;
    color: white;
    align-items: center;
}

.header-nav ul li:last-child{
    color: black;
    background-color: white;
    padding: 8px 10px;
    border-radius: 25px;
}

.header-button{
    font-size: 2rem;
    background-color: transparent;
    border: 0;
}

@media screen and (min-width:992px) {

    .header-nav{
        display: block;
    }

    .header-button{
        display: none;
    }
}


/* MAIN */

/* DOWNLOAD SECTION */

.container-card-download{
    margin-top: 150px;
}

.card-download{
    background-color: rgb(181 221 255);
    margin-bottom: 50px;
}

.col-text-dwl{
    padding: 30px 30px;
}

.ios-dwl{
    background-color:rgb(0 132 253) ;
    padding: 15px 60px;
    border-radius: 40px;
}

.phone-img{
    display: block;
    max-width: 300px;
    /* margin-top: 100px; */
}

.card-app{
    background-color: rgb(181 221 255);
    margin-bottom: 50px;
}

@media screen and (min-width:768px) {
    .container-card-download{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
    }

    .clean-card{
        height: 640px;
    }

    .card-download{
        width: 63%;
    }

    .card-app{
        width: 30%;
    }
}

@media screen and (min-width:992px) {
    .container-card-download{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
    }

    .card-download{
        width: 63%;
        display: flex;
    }

    .clean-card{
        height: 380px;
    }

    .phone-img{
        margin-top: 100px;
        max-width: 250px;
    }

    .card-app{
        width: 30%;
    }
}

/* STRATEGIC PLAN SECTION */

.section-develop{
    background-color: rgb(151 146 228);
    padding: 100px 0;
}

.develop-app{
    background-color: white;
}

.develop-app-text{
    font-style: italic
}

.down{
    width: 40px;
    height: 40px;
    background-color:rgb(151 146 228);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

@media screen and (min-width:992px) {
    .card-develop{
        max-width: 1100px;
        display: flex;
        align-items: center;
    }

    .strategic-plan{
        width: 40%;
    }

    .develop-app{
        width: 40%;
    }
}

/* TESTIMONIALS SECTION */

.testimonial-section{
    margin-top: 50px;
}

.testimonials-title{
    font-size: 2rem;
}

.card-testimonial{
    border-radius: 30px;
    background-color: rgb(151 146 228);
    margin-bottom: 30px;
}

.card-testimonial img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .card-testimonial{
        display: flex;
        align-items: center;
    }

    .testimonial-description{
        text-align: start;
        margin-left: 10px;
    }
}

/* BENEFITS SECTION */

.benefits-section{
    background-color: rgb(151 146 228);
    padding: 50px 0;
}

.b-card{
    background-color: white;
    border-radius: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.more-button{
    background-color:rgb(151 146 228);
    padding: 10px 30px;
    border-radius: 30px;
}

@media screen and (min-width:768px) {
    .col{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .b-card{
        width: 49%;
    }
}

@media screen and (min-width: 992px) {
    .b-card{
        width: calc(100%/3 - 10px);
    }
}

/* ABOUT US SECTION */

.about-us{
    margin-top: 50px;
}

/* .about-us-img{
    position: relative;
} */

.img-about{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.find-me-btn{
    background-color:rgb(151 146 228);
    padding: 5px 20px;
    border-radius: 30px;
}

.fa-linkedin{
    color: white;
    margin-right: 10px;
}

.apici{
    font-size: 4rem;
    color:rgb(151 146 228);
    position: absolute;
    right: 0;
    top: 0;
}

@media screen and (min-width:768px) {
    .about-us{
        display: flex;
        justify-content: space-between;
    }

    .about-us-text{
        margin-right: 30px;
        width: 60%;
    }

    .about-us-img{
        width: 30%;
    }
}

/* CTA SECTION */

.cta-section{
    background-color:rgb(151 146 228);
    padding: 80px 0;
}

.cta-section h5{
    color:lightgray;
}

.free{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(253, 193, 95);
    margin-bottom: 30px;
    display: inline-block;
}

.cta-dwl{
    background-color: white;
    padding: 15px 40px;
    color: rgb(151 146 228);
    border-radius: 50px;
}

.privacy{
    font-size: .7rem;
    text-decoration: underline;
}

@media screen and (min-width:768px){
    .cta-container{
        width: 40%;
    }
}

/* FOOTER */

footer{
    background-color: rgb(51,51, 51);
}

footer span{
    color:rgb(151 146 228);
    text-decoration: underline;
}

@media screen and (min-width:768px){
    .footer-container{
        width: 30%;
    }
}
